body{
    background-color:grey;
}

.contact, .requests{
    background-color:white;
    width:600px;
    height:500px;
    margin:5% auto; 
}
.contact table td{
    padding:40px;
    width:50%; 
    vertical-align:top;   
}

.contact a{
    margin:50px;
} 

.requests{
    padding-right:20px;
    text-align:center;
}
 
 
