{% extends 'base.html' %}
{% block main %}
<form class="contact" action="" method="GET">
    <table>
        <tr>
            <td>
                <p>Name - {{my_contact.name}}</p>
                <p>Last name - {{my_contact.last_name}}</p>
                <p>Date of birth - {{my_contact.date_of_birth}}</p>
                <p>Bio:</p>
                <p>{{my_contact.bio}}</p>
            </td>
            <td>
                <p>Email - {{my_contact.email}}</p> 
                <p>Jabber - {{my_contact.jabber}}</p>
                <p>Skype - {{my_contact.skype}}</p> 
                <p>Other contacts:</p>
                <p>{{my_contact.other_contacts}}</p> 
            </td>
        </tr>
    </table>
</form>
{% endblock %}
