body{
    background-color:grey;
}
<<<<<<< HEAD
.contact{
=======

#contact,#requests{
>>>>>>> ab725a13a76ed843f89f3bc252d34496071d136b
    background-color:white;
    width:600px;
    height:500px;
    margin:5% auto;
    #font-family:cursive;
    #color:red;
}
.contact table td{
    padding:40px;
    width:50%; 
    vertical-align:top;   
}

#contact a{
    margin:50px;
} 

#requests ol{
    padding-right:30px;
    
}
#requests li{
    padding:5px;
    font-family:Verdana;
}

*{
    #border:1px solid red;
}
